body{
    background-color: silver;
    color: gray;
    font-family: monospace;
}
form{
    width: 450px;
    border: 4px solid magenta;
    background-color: black;
    padding: 30px;
  }
.button {
    border: solid gray;
    font-family: monospace;
  }